body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}
.container {
	background-color: white;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Modificamos el boton de INICIO */
a{
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
a:hover{
	transition: 0.5s;
	color: rgb(105, 105, 105);
}
form {
	display: flex;
	flex-direction: column;
}
input {
	margin-bottom: 1rem;
}
button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 5px;
}
#car {
	width: calc(1260/3.5);
	height: calc(710px/3.5);
	border-radius: 10px;
}
button:hover {
	background-color: #0056b3;
}
#center {
	display: grid;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}